//- link(href="/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min-3.3.7.css")
script(src="/jquery/dist/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min-3.3.7.js")